<!doctype html>
<html
	lang="en" layout:decorate="~{layouts/chatlayout}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8"/>
	<title>Chat Room</title>
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<th:block th:fragment="chatlists">
	<section id="chat-list-section">
		<h2>My Chats</h2>
		<ul id="chatList">
			<!-- 채팅 목록이 여기에 동적으로 추가됩니다 -->
		</ul>
	</section>
	<script th:inline="javascript">
		// API URL 설정
		const API_BASE_URL = "/keywords";
		const NOTIFICATION_API_URL = "/notifications";
		const RECENT_VIEWED_POSTS_API_URL = '/recent-viewed-posts'; // *
		
		
		// 채팅 목록 불러오기 함수
		function loadChatRooms() {
			const userId = $('#userId').val(); // 사용자 ID 가져오기
			$.ajax({
				type: 'GET',
				url: `/chat/chats?userId=${userId}`,
				success: function (chatRooms) {
					const chatList = $('#chatList');
					chatList.empty();
					chatRooms.forEach(chatRoom => {
						chatList.append(`<li> ${chatRoom.partnerName}님의 메세지 - <a href="/chat/room/${chatRoom.chatRoomId}?receiverId=${userId}">채팅방으로 이동</a></li>`);
					});
				},
				error: function (error) {
					console.error('채팅 방 목록 로딩 중 오류 발생:', error);
				}
			});
		}
		
		// 페이지 로드 시 데이터 불러오기
		$(document).ready(function () {
			loadKeywords();
			loadNotifications();
			loadChatRooms();
			loadRecentViewedPosts(); // *
		});
	</script>
</th:block>
</body>
</html>