<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="script">
    <!-- Bootstrap core JS-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    ></script>
    <script>
      $(document).ready(function () {
        const userId = /*[[${#authentication.principal.id}]]*/ "anonymous"; // 로그인한 사용자의 ID
        const chatRoomId = /*[[${chatRoomId}]]*/ "defaultRoom"; // 채팅방 ID
        const receiverId = /*[[${receiverId}]]*/ "defaultReceiver"; // 수신자 ID


      });
    </script>
  </th:block>
</html>
