<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <header th:fragment="header">
    <div class="header-wrapper">
      <div class="header-box">
        <div class="header-1">
          <div class="header-notification">
            <a class="header1" href="#">
              <i class="fa fa-bell-o icon"></i>
              <div class="badg">나의 알림</div>
            </a>
          </div>
          <div class="header-chat">
            <a class="header1" href="/chat">
              <i class="fa fa-comment-o icon"></i>
              <div class="badg">채팅</div>
            </a>
          </div>
          <div class="header-profile">
            <!--                            로그인시        -->
            <div
              class="dropdown"
              th:unless="${#authentication.name == 'anonymousUser'}"
            >
              <a
                aria-expanded="false"
                class="header1 dropdown-toggle"
                data-bs-toggle="dropdown"
                id="dropdownMenuButton"
                type="button"
              >
                <img alt="프사" class="profile-img" th:src="@{${profilepic}}" />
                <p class="profile-name badg" th:text="${nickname}"></p>
              </a>
              <div
                aria-labelledby="dropdownMenuButton"
                class="dropdown-menu dropdown-menu-end"
              >
                <a class="dropdown-item" href="#">내 정보 수정</a>
                <a class="dropdown-item" href="#">메뉴2</a>
                <hr class="dropdown-divider" />
                <a class="dropdown-item" href="/logout">로그아웃</a>
              </div>
            </div>

            <!--                            비로그인시       -->
            <a
              class="header1"
              href="/login"
              th:if="${#authentication.name == 'anonymousUser'}"
            >
              <div class="badg">로그인/회원가입</div>
            </a>
          </div>
        </div>
        <div class="header-2">
          <a href="/"><img alt="" class="logo" src="/img/logodummy.png" /></a>
          <div class="search-box-wrapper">
            <form class="search-box" method="get" th:action="@{/board/list}">
              <input
                class="search"
                name="searchKeyword"
                placeholder="어떤 상품을 찾으시나요?"
                type="text"
              />
              <button type="submit">
                <i class="fa fa-search dotbogi"></i>
              </button>
            </form>
          </div>
          <a class="btn btn-primary write" href="/board/write" role="button">
            <p>
              <i aria-hidden="true" class="fa fa-pencil-square">
                &nbsp; 상품 올리기</i
              >
            </p>
          </a>
        </div>
        <div class="header-3">
          <div class="menu-box">
            <div class="menu">
              <a href="/board/list">전체글보기</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-underline"></div>
    </div>
  </header>
</html>
