<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <header th:fragment="header">
        <div class="header-wrapper">
            <div class="header-box">
                <div class="header-1">
                    <div class="header1 header-notification">
                        <i class="fa fa-bell-o icon"></i>
                        <div class="badg">나의 알림</div>
                    </div>
                    <div class="header1 header-chat">
                        <i class="fa fa-comment-o icon"></i>
                        <div class="badg">채팅</div>
                    </div>
                    <div class="header1 header-profile">
                        <div class="profile-box badg">
                            <div class="header1 logined">
                                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="더미입니다" class="profile-img">
                                <div class="profile-name badg">
                                    더미asdasd
                                    <i class="fa fa-chevron-up icon"></i>
                                </div>
                            
                            </div>
                            <div class="header1 nologin">
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-2">
                    <img src="src\logodummy.png" alt="" class="logo">
                    <div class="search-box-wrapper">
                        <div class="search-box">
                            <i class="fa fa-search dotbogi"></i>
                            <div class="search">어떤 상품을 찾으시나요?</div>
                        </div>
                    </div>
                </div>
                <div class="header-3">
                    <div class="menu-box">
                        <div class="menu">메뉴1</div>
                        <div class="menu">메뉴2</div>
                        <div class="menu">메뉴3</div>
                        <div class="menu">메뉴4</div>
                        <div class="menu">메뉴5</div>
                        <div class="menu">메뉴6</div>
                        <div class="menu">메뉴7</div>
                        <div class="menu">메뉴8</div>
                    
                    </div>
                </div>
            </div>
            <div class="header-underline"></div>
        </div>
    </header>
</html>