.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
/* 카테고리 전체 */
.category-section {
  margin: 30px auto;
  max-width: 1200px;
}

/* 카테고리 설정 */
.category-container {
  display: flex;
}
.category-toggle {
  cursor: pointer;
  width: 202px;
  margin-right: 8px;
  padding: 12px 28px;
  border-radius: 24px;
  border: 1.3px solid rgb(229, 232, 235);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 4px;
  background-color: rgb(255, 255, 255);
}

/* 카테고리 하단 */
.reset-filter {
  display: flex;
  position: relative;
  left: 10px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.reset-button {
  cursor: pointer;
  background: rgb(249, 250, 251);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px;
  margin: 0px 6px 6px 0px;
}

.reset-text {
  color: rgb(107, 118, 132);
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Pretendard Variable";
  line-height: 100%;
}

.reset-icon {
  margin-left: 10px;
  width: 16px;
  height: 18px;
}

/* 카테고리/브랜드 리스트 */
.category-list {
  margin-top: 5px;
}

.category-list-container {
  background: rgb(249, 250, 251);
  border: 1.2px solid rgb(229, 232, 235);
  border-radius: 10px;
  padding: 18px 20px 0px;
}

.category-item {
  height: 32px;
  border-bottom: 1px solid rgb(230, 235, 239);
  display: flex;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 0.813rem;
  font-family: "Pretendard Variable";
  line-height: 154%;
}

.category-name {
  font-weight: 700;
}
.category-link {
  letter-spacing: 0px;
  font-weight: 600;
  font-size: 0.813rem;
  font-family: "Pretendard Variable";
  line-height: 154%;
  cursor: pointer;
  color: rgb(20, 30, 43);
}

.category-count {
  padding-top: 14px;
  display: grid;
  grid-auto-rows: 34px;
  grid-template-columns: auto auto auto auto auto auto;
}

/* 가격 검색 창*/
.price-filter {
  display: flex;
  align-items: center;
  height: 103px;
  background: rgb(249, 250, 251);
  border: 1.2px solid rgb(229, 232, 235);
  border-radius: 10px;
}

.price-filter input {
  padding: 0px;
  width: 188px;
  height: 44px;
  border-radius: 8px;
  text-align: center;
  letter-spacing: -0.2px;
  font-weight: 700;
  font-size: 0.938rem;
  font-family: "Pretendard Variable";
  line-height: 134%;
  border: none;
}

.price-divider {
  margin-left: 8px;
  letter-spacing: -0.2px;
  font-weight: 600;
  font-size: 1rem;
  font-family: "Pretendard Variable";
  line-height: 134%;
}

.apply-button {
  width: 164px;
  height: 44px;
  background: rgb(176, 184, 193);
  border-radius: 8px;
  margin-left: 10px;
  letter-spacing: -0.2px;
  font-weight: 700;
  font-size: 0.938rem;
  font-family: "Pretendard Variable";
  line-height: 134%;
  color: rgb(255, 255, 255);
  border: none;
}

.apply-button:hover {
  background-color: black;
}

/* 카테고리 목록 */
/* 카테고리 목록 전체 */
.product-section {
  max-width: 1200px;
  margin: 0 auto;
}
.product-album .container {
  max-width: 1200px;
}

.product-album .row {
  display: flex;
  flex-wrap: wrap;
}

.product-album .col {
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}

.product-album .card {
  width: 100%;
  box-sizing: border-box;
}

.product-album .col:nth-child(n + 13) {
  display: none;
}

/* 카테고리 상품 수 */
.product-count {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0px 20px 21px 0px;
}

/* 좌측 상품 수 */
.product-count-left {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Pretendard Variable";
  line-height: 100%;
  color: rgb(25, 31, 40);
}

.count-text {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Pretendard Variable";
  line-height: 100%;
  color: rgb(255, 97, 90);
}

/* 우측 추천 */
.recommendation {
  display: flex;
  cursor: pointer;
  margin-right: 280px;
}

.recommendation-text {
  letter-spacing: -0.6px;
  font-weight: 600;
  font-size: 0.938rem;
  font-family: "Pretendard Variable";
  line-height: 120%;
  color: rgb(25, 31, 40);
  margin-right: 8px;
}

.sort-icon {
  width: 15px;
  height: 15px;
}
