<!doctype html>
<html
  lang="en"
  layout:decorate="~{layouts/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <link rel="stylesheet" th:href="@{/css/boardcategories.css}" />
  </head>
  <body>
    <div class="main-content" layout:fragment="content">
      <div class="wrapper">
        <div class="category-section">
          <div class="category-container">
            <div class="category-toggle category-toggle1">
              <div class="category-toggle-content">
                <span class="filtername">카테고리</span>
                <img
                  alt="화살표 아래 아이콘"
                  src="https://ccimage.hellomarket.com/img/web/search/filter/white_arrow.svg"
                />
              </div>
            </div>
            <div class="category-toggle category-toggle2">
              <div class="category-toggle-content">
                <span class="filtername">가격</span>
                <img
                  alt="화살표 아래 아이콘"
                  src="https://ccimage.hellomarket.com/img/web/search/filter/white_arrow.svg"
                />
              </div>
            </div>
            <div class="reset-filter">
              <div class="reset-button">
                <div class="reset-text">필터 초기화</div>
                <img
                  alt="reset"
                  class="reset-icon"
                  src="https://ccimage.hellomarket.com/img/web/search/filter/refresh.svg"
                />
              </div>
            </div>
          </div>

          <div class="category-list category-sublist1" style="display: none">
            <div class="category-list-container">
              <div class="category-item">
                <div class="category-name">카테고리</div>
              </div>
              <div class="category-count">
                <a class="category-link" th:href="@{/board/list(searchCateID=)}"
                  >#### 전체 (###,###)</a
                >
                <div th:each="board : ${categList}">
                  <a
                    class="category-link"
                    th:href="@{/board/list(searchCateID=${categList.indexOf(board)+1})}"
                    th:text="${board} + ' (' + ${categList.indexOf(board)+1} + ')'"
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="category-list category-sublist2" style="display: none">
            <div class="price-filter">
              <input
                class="min-price"
                placeholder="최저금액"
                type="text"
                value=""
              />
              <div class="price-divider">원 부터~ &nbsp;</div>
              <input
                class="max-price"
                placeholder="최고금액"
                type="text"
                value=""
              />
              <div class="price-divider">원 까지</div>
              <button class="apply-button">적용하기</button>
            </div>
          </div>
        </div>
        <div class="product-section">
          <div class="product-count">
            <div class="product-count-left">
              <span class="count-text"
                ><span th:text="${list.getTotalElements()}"></span>개의 상품이
                있습니다.</span
              >
            </div>
            <div class="recommendation">
              <div class="recommendation-text">추천순</div>
              <img
                alt="정렬 아이콘"
                class="sort-icon"
                src="https://ccimage.hellomarket.com/img/web/search/itemList/ico_sort.png"
              />
            </div>
          </div>
          <div class="product-album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="board : ${list}">
                  <div class="card shadow-sm">
                    <img
                      class="card-img-top goods-img"
                      height="225"
                      onerror="this.src='/files/default.png'"
                      th:src="${board.filepath}"
                      width="100%"
                     alt="상품이미지"/>
                    <div class="card-body">
<!--                      <p th:text="${board.categName}"></p>-->
                      <a
                        th:href="@{/board/view(id=${board.id})}"
                        th:text="${board.title}"
                        >제목</a>
                      <div class="button-group">
                        <button
                          class="btn btn-sm btn-outline-secondary view-button"
                          type="button"
                        >
                          View
                        </button>
                        <button
                          class="btn btn-sm btn-outline-secondary edit-button"
                          type="button"
                        >
                          Edit
                        </button>
                      </div>
                      <small class="text-muted" th:text="${board.timeAgo}"
                        >timeago</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <a class="page-link" th:href="@{/board/list(page=0)}">첫 페이지</a>
          <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a
              class="page-link"
              th:href="@{/board/list(page=${page-1}, searchKeyword=${param.searchKeyword}, searchCateID=${param.searchCateID})}"
              th:if="${page != nowPage}"
              th:text="${page}"
            ></a>
            <strong
              class="page-link-active"
              th:if="${page == nowPage}"
              th:text="${page}"
            ></strong>
          </th:block>
          <a class="page-link" th:href="@{/board/list(page=${totalPage-1})}"
            >마지막 페이지</a
          >
        </div>
      </div>

      <script>
        $(".category-toggle1").click(function () {
          if ($(".category-sublist1").is(":visible")) {
            $(".category-sublist1").slideUp();
          } else {
            $(".category-sublist1").slideDown();
            $(".category-sublist2").slideUp();
          }
        });

        $(".category-toggle2").click(function () {
          if ($(".category-sublist2").is(":visible")) {
            $(".category-sublist2").slideUp();
          } else {
            $(".category-sublist2").slideDown();
            $(".category-sublist1").slideUp();
          }
        });
      </script>
    </div>
  </body>
</html>
