<!doctype html>
<html
  layout:decorate="~{layouts/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>$Title$</title>
  </head>
  <body>
    <div layout:fragment="content">
      <div class="container mt-5">
        <h2 class="mb-4">게시판 글 작성</h2>
        <form
          action="/board/writepro"
          enctype="multipart/form-data"
          method="post"
        >
          <div class="form-group">
            <label>제목</label>
            <input
              class="form-control"
              name="title"
              placeholder="제목을 입력하세요"
              required
              type="text"
            />
          </div>
          <div class="form-group">
            <label>작성자</label>
            <p th:text="${nickname}"></p>
          </div>
          <div>카테고리</div>

          <label for="categ">카테고리</label>
          <select id="categ" name="cateID">
            <option value="1">카테고리1</option>
            <option value="2">카테고리2</option>
            <option value="3">카테고리3</option>
            <option value="4">카테고리4</option>
            <option value="5">카테고리5</option>
            <option value="6">카테고리6</option>
            <option value="7">카테고리7</option>
            <option value="8">카테고리8</option>
          </select>

          <div class="form-group">
            <label>내용</label>
            <textarea
              class="form-control"
              name="content"
              placeholder="내용을 입력하세요"
              required
              rows="5"
            ></textarea>
          </div>
          <div class="form-group">
            <label>파일 업로드</label>
            <input class="form-control-file" name="file" type="file" />
          </div>
          <button class="btn btn-primary" type="submit">작성</button>
        </form>
      </div>
    </div>
  </body>
</html>
