<!doctype html>
<html
  layout:decorate="~{layouts/layout}"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>작성</title>
    <link rel="stylesheet" th:href="@{/css/boardwrite.css}" />
  </head>
  <body>
    <div class="main-content" layout:fragment="content">
      <div class="container mt-5">
        <div class="mb-4 title h3">상품 올리기</div>
        <form
          action="/board/writepro"
          class="needs-validation"
          enctype="multipart/form-data"
          method="post"
          novalidate
        >
          <div class="form-group mb-3">
            <label class="form-label" for="title">제목</label>
            <input
              class="form-control"
              id="title"
              name="title"
              placeholder="제목을 입력하세요"
              required
              type="text"
            />
            <div class="invalid-feedback">제목을 입력하세요.</div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">작성자</label>
            <p class="form-control-plaintext" th:text="${nickname}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="categ">카테고리</label>
            <select class="form-select" id="categ" name="cateID" required>
              <option selected value="none">카테고리 선택</option>
              <option value="1">카테고리1</option>
              <option value="2">카테고리2</option>
              <option value="3">카테고리3</option>
              <option value="4">카테고리4</option>
              <option value="5">카테고리5</option>
              <option value="6">카테고리6</option>
              <option value="7">카테고리7</option>
              <option value="8">카테고리8</option>
            </select>
            <div class="invalid-feedback">카테고리를 선택하세요.</div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="content">내용</label>
            <textarea
              class="form-control"
              id="content"
              name="content"
              placeholder="내용을 입력하세요"
              required
              rows="5"
            ></textarea>
            <div class="invalid-feedback">내용을 입력하세요.</div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="file">파일 업로드</label>
            <input class="form-control" id="file" name="file" type="file" />
          </div>
          <button class="btn btn-primary" type="submit">작성</button>
        </form>
      </div>
    </div>

    <script
      crossorigin="anonymous"
      integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+5hb7O0l5P1CM4DEt7C4ao8mROls2BbFdf4QdKP"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-IQsoLXlWTJYILwAJtoYpKEOJ4ILx35ZeBzauPLnEDM7zAayG7R4c1OgEY2tBy7hP"
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      crossorigin="anonymous"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"
    ></script>

    <script>
      // 부트스트랩의 폼 검증 기능을 활성화합니다.
      (function () {
        "use strict";
        var forms = document.querySelectorAll(".needs-validation");
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false,
          );
        });
      })();
    </script>
  </body>

</html>
