<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
    <style>
        .layout {
            width: 500px;
            margin: 0 auto;
            margin-top: 40px;
        }

        input, textarea {
            width: 100%;
            box-sizing: border-box;
        }

        textarea {
            margin-top: 10px;
            min-height: 300px;
        }
    </style>
</head>
<body>

<div class="layout">
    <form action="/board/writepro" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="제목">
        <!-- 홈페이지 자체에서 로그인한 경우 -->
        <input name="author" type="text" placeholder="작성자" th:value="${#authentication.name}">
        <!-- 네이버에서 로그인한 경우 -->
        <input name="author" type="text" placeholder="작성자" th:value="${#request.getAttribute('naverNickname')}">
        <!-- 구글에서 로그인한 경우 -->
        <input name="author" type="text" placeholder="작성자" th:value="${#request.getAttribute('googleNickname')}">
        <textarea name="content" placeholder="내용"></textarea>
        <input type="file" name="file">
        <button type="submit">작성</button>
    </form>
</div>

</body>
</html>
