<!doctype html>
<html layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${board.title}">게시글 보기</title>
</head>
<body>
<div layout:fragment="content">
  <div>
    <h2 th:text="${board.title}">제목</h2>
    <p th:text="${board.content}">내용</p>
    <img alt="게시글 이미지" th:src="@{${board.filepath}}" />
  </div>

  <div>
    <h3>댓글</h3>
    <div th:each="comment : ${comments}">
      <p th:text="${comment.nickname}">Nickname</p>
      <p th:text="${comment.content}">Content</p>
    </div>
  </div>

  <div>
    <h3>댓글 작성</h3>
    <form method="post" th:action="@{/board/add-comment/{boardId}(boardId=${board.id})}">
      <textarea name="content" placeholder="댓글 내용" required></textarea>
      <button type="submit">댓글 작성</button>
    </form>
  </div>

  <div>
    <a th:href="@{/board/list}">목록으로 돌아가기</a>
    <a th:href="@{/board/delete(id=${board.id})}">글 삭제</a>
    <a th:href="@{/board/modify/{id}(id=${board.id})}">글 수정</a>
    <th:block th:if="${board.user != null && loggedInUser != null && loggedInUser.username != board.user.email}">
      <a class="btn btn-primary" th:href="@{/chat/start(senderId=${loggedInUser.id},receiverId=${board.user.id})}">1:1 채팅</a>
    </th:block>
  </div>
</div>

</body>
</html>