<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Chatter</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.4.0/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <div class="container">
            <div class="col-6">
                <label><b>채팅방</b></label>
            </div>
            <div>
                <div class="col" id="msgArea"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control" id="msg" type="text">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" id="button-send" type="button">전송</button>
                            <button class="btn btn-outline-secondary" id="button-send" type="button">전송</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        $(document).ready(function(){
            function displayMessage(message) {
                var str = "<div class='col-6'>";
                str += "<div class='alert alert-info'>";
                str += "<b>" + message.sender + " : " + message.content + " [" + message.timestamp + "]</b>";
                str += "</div></div>";
                $("#msgArea").append(str);
            }

            function getPreviousChatMessages(chatRoomId) {
                fetch('/chat/messages/' + chatRoomId)
                    .then(response => response.json())
                    .then(messages => {
                        messages.forEach(displayMessage);
                    });
            }

            const username = /*[[${#authentication.name}]]*/ 'anonymous'; // 로그인한 사용자
            const chatRoomId = /*[[${chatRoomId}]]*/ 'defaultRoom'; // 채팅방 ID
            const receiverId = /*[[${receiverId}]]*/ 'defaultReceiver'; // 수신자 ID

            getPreviousChatMessages(chatRoomId);

            $("#button-send").on("click", (e) => {
                send();
            });

            const websocket = new WebSocket("ws://localhost:8080/ws/chat?userId=" + username + "&chatRoomId=" + chatRoomId); // 사용자 이름과 채팅방 ID를 포함하여 WebSocket 연결

            websocket.onmessage = onMessage;
            websocket.onopen = onOpen;
            websocket.onclose = onClose;

            function send() {
                let msg = document.getElementById("msg").value;
                websocket.send(username + ":" + msg);
                document.getElementById("msg").value = '';
            }

            function onClose(evt) {
                var str = username + " 님이 방을 나가셨습니다.";
                websocket.send(str);
            }

            function onOpen(evt) {
                var str = username + " 님이 입장하셨습니다.";
                websocket.send(str);
            }

            function onMessage(msg) {
                var data = msg.data;
                var arr = data.split(":");

                var sessionId = arr[0];
                var message = arr[1];

                if (sessionId === username) {
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-secondary'>";
                    str += "<b>" + sessionId + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                } else {
                    var str = "<div class='col-6'>";
                    str += "<div class='alert alert-warning'>";
                    str += "<b>" + sessionId + " : " + message + "</b>";
                    str += "</div></div>";
                    $("#msgArea").append(str);
                }
            }
        });
    </script>

</div>
</body>
</html>
