<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>My Page</title>
</head>
<body>
<h1>My Page</h1>
<p>닉네임: <span th:text="${user.nickname}"></span></p>
<p>이메일: <span th:text="${user.email}"></span></p>
<p>소셜 아이디: <span th:text="${user.socialId}"></span></p>
<p>제공자: <span th:text="${user.provider}"></span></p>
<p>제공자 아이디: <span th:text="${user.providerId}"></span></p>
<p>프로필 사진: <img th:src="@{${profilepic}}" alt="Profile Picture"></p>

<!-- 프로필 정보 변경 섹션 -->
<section id="profile-info-section">
    <h2>프로필 정보 변경</h2>
    <form th:action="@{/mypage/change-profile-info}" method="post" enctype="multipart/form-data">
        <label for="file">프로필 사진:</label>
        <input type="file" name="file" id="file"><br>

        <label for="nickname">닉네임:</label>
        <input type="text" name="nickname" id="nickname" th:value="${user.nickname}"><br>

        <label for="email">이메일:</label>
        <input type="email" name="email" id="email" th:value="${user.email}"><br>

        <button type="submit">프로필 정보 변경</button>
    </form>
</section>

</body>
</html>
