<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mypagelayout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>알림</title>
  </head>
  <body>
    <div layout:fragment="content">
      <section id="notifications-section">
        <h2>알림 목록</h2>
        <div th:text="${unreadNotificationCount}"></div>
        <ul id="notification-list"></ul>
      </section>

      <script>
        function loadNotifications() {
          const userId = /*[[${#authentication.principal.id}]]*/ "anonymous"; // 사용자 ID 가져오기
          console.log("사용자 ID의 알림 로딩 중:", userId); // 디버깅 로그 추가

          $.ajax({
            type: "GET",
            url: `${NOTIFICATION_API_URL}?userId=${userId}`,
            success: function (notifications) {
              console.log("알림 가져옴:", notifications); // 디버깅 로그 추가

              const notificationList = $("#notification-list");
              notificationList.empty();
              notifications.forEach((notification) => {
                const readStatus = notification.read ? "읽음" : "읽지 않음";
                notificationList.append(
                  `<li><a href="board/view?id=${notification.board.id}">${notification.message}</a> - ${readStatus} <button onclick="markAsRead(${notification.id})">읽음 표시</button></li>`,
                );
              });
            },

            error: function (error) {
              console.error("알림 목록 불러오기 중 오류 발생:", error);
            },
          });
        }

        // 알림 읽음 표시 함수
        function markAsRead(id) {
          $.ajax({
            type: "POST",
            url: `${NOTIFICATION_API_URL}/${id}/read`,
            success: function () {
              loadNotifications();
            },
            error: function (error) {
              console.error("알림 읽음 표시 중 오류 발생:", error);
            },
          });
        }
        $(document).ready(function () {
          loadNotifications();
        });
      </script>
    </div>
  </body>
</html>
