<!doctype html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/mypagelayout}"
>
  <head>
    <meta charset="UTF-8" />
    <title>알림</title>

    <style>
      .read-notification > a {
        color: gray;
      }
      .delete-noti {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <div layout:fragment="content">
      <section id="notifications-section">
        <h2>알림 목록</h2>
        <div id="unread-count"></div>
        <ul id="notification-list"></ul>
      </section>
    </div>
  </body>
</html>
